*body {margin: 0;}



/*-----NAVIGATION-----*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    overflow: auto;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

/*------LOGO-----*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*-----IMAGE : EVENT-----*/
.img1 {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Graduate', cursive;
}

.h1centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
}

.pcentered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}


/*-----INFORMATIION-----*/

.information {
    background-color: grey;
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
    color: white;
    font-family: 'Encode Sans Semi Condensed', sans-serif; 
    padding: 10px;
    margin: 10px 70px 10px 70px;
}

/*-----HEADING-----*/
h1 {
    margin-left: 30px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}


/*-----IMAGE------*/
.race {
    display: block;
    padding: 70px 20px 70px 0px;
    
}

/*-----CONTENT-----*/

.rectangle {
    background-color: grey;
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 10px 20px 15px 20px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    height: 150px;
    width: 200px;
    
    margin: 70px 0px 70px ;
}

.spacing {
    line-height: 70%;
}

.space {
    line-height: 10px;
}


/*------MIDDLE COLUMN-----*/

.h2middle {
    margin: 70px 0px 0px 0px;
    font-family: 'Graduate', cursive;
}
.button {
    background-color: red;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    padding: 5px 15px;
    border: none;
}




/*-----ROW-----*/
.column {
    float: left;
    padding: 10px;
    height: 320px;
    
}

.left, .right {
    width: 22%;
}

.middle {
    width: 45%;
}

.row {
    margin: 0px 0px 0px 70px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    
}


/*--------FORM---------*/

form fieldset {
    margin: 2rem 10rem 0;
    border: 1px solid grey;
    padding: .5rem 2%;
    width: 60%;
    border-radius: 9px;
    
}

form label.one, form div {
    display: block;
    padding-top:  1rem;
    color: red;
    font-size: .9rem;
}

form label.one input, form label.one select {
    display: block;
    font-size: 1rem;
    border-radius: 9px;
    border: solid 2px grey;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background: rgba(0,0,0,0.05);
}


form input.submitBtn {
    border: none;
    background-color: red;
    color: white;
    border-radius: 9px;
    padding: .75rem 1.5rem;
    margin: 1rem 1rem 1rem 2%;
    width: 96%;
    max-width: 20rem;
}


/*-----FOOTER-----*/
.footer {
    font-size: 10px;
    background-color: grey;
    padding: 14px 16px;
    color: white;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
