@media only screen and (max-width: 599px){
    
/*-----NAV-----*/   
ul.topnav li {float: none;}
/*-----IMAGES-----*/    
.h1centered {font-size: 13px}

.pcentered {font-size: 9px}
    
.bicyclecenter {
    top: 5%;
    font-size: 20px
}

/*--------FORM---------*/

form fieldset {
    margin: 2rem 0rem 0;
    border: 1px solid grey;
    padding: .5rem 2%;
    
}

/*-----COLUMN-----*/
.column {
    float: left;
    padding: 10px;
    height: 400px;
    
}

.left, .middle {
    width: 45%;
}

.right {
    width: 70%;
    height: 180px;
}
    
.row {
    margin: 0px 0px 0px 0px;
}
    
/*-----RECTANGLE-----*/
.rectangle {
    margin: 0px 100px 0px ;
        
}


    
}